h1, h2{
    font-family: 'Frank Ruhl Libre', serif;
}
p, textarea{
    font-family: 'Fira Sans', sans-serif;
}
.contact-intro{
    background-color: #C7DDEA;
    display: flex;
    justify-content: center;
}
.contact-intro h1{
    font-size: 10vw;
    padding: 1rem;
    margin: 0 15px;
}
.img-1{
    margin: 0 15px;
}
.nav-bar ul{
    /*display: flex;
    justify-content: space-around;*/
    display: grid;
   grid-template-areas: "home ouroffer"
   "whyus contact";
}
.nav-bar li{
 
    list-style-type: none;
    padding-bottom: 10px;
    margin: auto;
    font-weight: bold;
    /*font-weight: 900;
    font-size: 1rem;*/
}
.nav-bar li:hover{
    color: black;
    background-color: lightgray;
}
.nav-bar a{
    text-decoration: none;
    color: #A9A19E;
    font-family:'Fira Sans', sans-serif ; 
}
.text-2{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 5vh;
}
.contact-panel{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    background-color: #A9A19E;
 
}
.contact-form label{
    display: block;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    padding: 10px;
    font-weight: bold;
}
    
.email{
    display: block;
    padding: 10px;
    margin-left: 10%;
    width: 500px;
    height: 50px;

}
.email input{
    height: 30px;
}
.Yourmessage{
    display: block;
    padding: 10px;
    margin-left: 10%; 
    
}
button{
    margin: 0 auto;
    display: block;
    padding: 5% 12%;
    margin-bottom: 10px; 
    border-radius: 30px;
    border: white;
    font-weight:bolder;
}
.address-section{
    background-color: #FAB131;
    width: 500px ;
    height: 300px ;
    font-family:'Frank Ruhl Libre', serif ;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}
.address-section h1{
    font-size: 4rem;
    padding-bottom: 0px;
}
.home-intro{
    display: grid;
    grid-template-columns: 2fr, 1fr, 1fr;
    background-color: #C7DDEA;
}
.home-intro-1 h1{
    color: black;
}
img{
   height: 100%;
   width: 100%;
   object-fit: contain;
   
}
.home-intro-2{
    background-color: #F17949;
    white-space: nowrap;
    text-align: center;
    font-weight: bolder;
}
.home-intro-3{
    background-color:#FAB131;
    white-space: nowrap;
    text-align: center;
    font-weight:bolder;
}

.home-intro-2 h1, .home-intro-3 h1{
    color: white;
}
.main-content{
    background-color: #A9A19E;
}
.description h1{
    color: white;
    font-weight: bolder;
    text-align: left;
}
.description p{
    font-weight: bold;
    opacity: 60%;
}
.main-content button{
    align-self: center;
}
.flash-cards{
    background-color: #A9A19E;
    padding-bottom: 2%;
}
.flash-card{
    border-radius: 5%;
    margin: 15%;
    position: relative;
}
.flash-card-image{
    margin: 0 10%;
    border-radius: 10%;
    width: 80%;
    z-index: 8;
    height: 45%;
    position: absolute;
    margin-top: -10%;
}
.flash-card-image-child{
    background-color: #C7DDEA;
}
.flash-card-image-adult{
    background-color: #FAB131;
}
.flash-card-image-old{
    background-color: #F17949;
}
.flash-cards img{
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flash-card-span{
    margin-top: 70%;
    display: block;
}
.flash-card-text{
    background-color: white;
    text-align: center;
    font-weight: bold;
    height: 70%;
    position:relative;
    bottom: 50%;
    padding: 10%;
    border-radius: 3%;
}
.flash-card-text h1{
    margin-top: 55%;
    padding-top: 15%;
}
.flash-card-text p{
    opacity: 70%;
}
.about-us{
    text-align: center;
    background-color: orange;
}
.about-us h1{
    margin-top: 0px;
    padding-top: 10%;
    color: white;
    font-weight: bolder;
}
.about-us p{
    opacity: 70%;
    padding: 0 10% 15% 15%;
}
.end-card-0{
    padding: 10%;
    background-color: #C7DDEA;
    text-align: center;
}
.end-card{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.end-card h1{
    align-self: start;
}
.end-card h2{
    text-align: center;
    opacity: 70%;
}
.end-card-2{
    background-color:#C7DDEA ;
}
.end-card-4{
    background-color: #F17949 ;
}